@media all and (min-width: 980px){
    header{
        .tablet-menu{
            display: none;
        }
    }    
    .profile{
        .sp-profile-image{
            display: none;
        }
    }
    .contact{
        .sp-form{
            display: none;
        }
        .tab-form{
            display: none;
        }
    }
}
@media all and (max-width: 980px){
    .ltxt{
        font-size: 24px;
        font-weight: 500;
    }
    .mtxt{
        font-size: 16px;
        font-weight: 400;
    }
    .stxt{
        font-size: 14px;
        font-weight: 400;
    }
    .section-title{
        height: 90px;
        padding-bottom: 20px;
    }
    .section-title-lside{
        width: 90px;
        padding-right: 20px;
    }
    .section-title-rside{
        width: 90px;
        padding-left: 20px;
    }
    header{
        .header{
            display: none;
        }
    }
    .profile{
        .contents{
            flex-direction: column;
            margin: 0 auto;
            .profile-img{
                text-align: center;
                margin: 0;
                .profile-image{
                    height: 350px;
                    width: 450px;
                    object-fit: cover;
                }
                .sp-profile-image{
                    display: none;
                }
            }    
            .profile-text{
                margin: 0 auto;
                
                .profile-contents{
                    margin: 0 auto;
                    width: 70%;
                    .skills{
                        padding-top: 50px;
                    }   
                }
            }        
        }
    }
    .services{
        .contents{
            flex-direction: column;
            .service{
                width: 80%;
            }
        }
    }
    .works{
        .works-contents{
            .contents{
                .thirdWork{
                    display: none;
                }
            }
        }
    }
    .contact{
        .form{
            display: none;
        }
        .tab-form{
            display: inline-block;
        }
        .sp-form{
            display: none;
        }
    }

}
@media all and (max-width: 560px){
    .ltxt{
        font-size: 22px;
        font-weight: 500;
    }
    .mtxt{
        font-size: 14px;
        font-weight: 400;
    }
    .stxt{
        font-size: 12px;
        font-weight: 400;
    }
    .section-title{
        height: 65px;
        padding-bottom: 10px;
    }
    .section-title-lside{
        width: 70px;
        padding-right: 10px;
    }
    .section-title-rside{
        width: 70px;
        padding-left: 10px;
    }
    .top{
        .contact-bottan{
            width: 90%;
        } 
    }
    .profile{
        .contents{
            .profile-img{
                .profile-image{
                    display: none;
                }
                .sp-profile-image{
                    display: inline-block;
                }
            }
        }
    }


    .contact{
        .form{
            display: none;
        }
        .tab-form{
            display: none;
        }
        .sp-form{
            display: inline-block;
        }
    }
}