*{
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans JP", 游ゴシック, "Yu Gothic", 游ゴシック;
    letter-spacing: 2px;
    line-height: 1.5;
    
}
/*色の変数*/
$blue:#014c86;
$white:#F1F0E2;
$grey:#bbbcc4;
$shadow:#303133;
/*文字のサイズ、太さ*/
.ltxt{
    font-size: 28px;
    font-weight: 600;
}
.mtxt{
    font-size: 18px;
    font-weight: 500;
}
.stxt{
    font-size: 16px;
    font-weight: 400;
}
.works{
    width: 100%;
    
    .works-title{
        text-align: center;
        margin: 30px auto;
        img{
            border-bottom: 1px solid $grey;
            border-top: 1px solid $grey;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }
    .works-contents{
        background-color: $blue;
        .contents{
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .work{
                display: flex;
                margin: 30px;
                padding: 20px;
                background-color: $white;
                background-size: cover;
                border-radius: 5px;
                a{
                  color: black;
                  text-decoration: none;
                  display: inline-block;
                  padding-bottom: 10px;
                  transition: 1s;
                  &:hover{
                    opacity: 0.5;
                  }
                }
                img{
                  padding: 10px;
                  border: 1px solid $grey;
                  width: auto;
                  display: inline-block;
                  border-radius: 5px;
                }
                .workDetail{
                    padding-left: 20px;
                    .workSkills{
                        padding-top: 25px;
                        color: $blue;
                    }
                }
            }
        }
    }
}
.returnPage{
    background-color: $blue;
    text-align: center;
    .returnPage-wrapper{
        display: inline-block;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 0.5px solid $grey; 
        a{
            color: white;
        }
        &:hover{
            background-color: $grey;
            transition: 1.6s;
        }
    }
}
footer{
    background-color: $blue;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    .foot-contents{
      margin: 0 auto;
      width: 90%;
      padding: 40px 0 25px 0;
      border-top: 1px solid $grey;
      color: $white;
    }
}
@media all and (min-width:980px){

}
@media all and (max-width: 980px){
    .ltxt{
        font-size: 24px;
        font-weight: 500;
    }
    .mtxt{
        font-size: 16px;
        font-weight: 400;
    }
    .stxt{
        font-size: 14px;
        font-weight: 400;
    }
    .section-title{
        width: 560px;
        height: auto;
    }
    .works{
        .works-contents{
            .contents{
                width: 90%;
            }
        }
    }
}
@media all and (max-width: 560px){
    .ltxt{
        font-size: 22px;
        font-weight: 500;
    }
    .mtxt{
        font-size: 14px;
        font-weight: 400;
    }
    .stxt{
        font-size: 12px;
        font-weight: 400;
    }
    .section-title{
        width: 400px;
        height: auto;
    }
    .works{
        .works-contents{
            .contents{
                width: 90%;
                .work{
                    flex-direction: column;
                }
            }
        }
    }
    .returnPage{
        .returnPage-wrapper{
            width: 90%;
        }
    }
}