@charset "UTF-8";
/*main*/
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", 游ゴシック, "Yu Gothic", 游ゴシック;
  letter-spacing: 2px;
}

/*色の変数*/
/*文字のサイズ、太さ*/
.ltxt {
  font-size: 28px;
  font-weight: 500;
}

.mtxt {
  font-size: 18px;
  font-weight: 400;
}

.stxt {
  font-size: 16px;
  font-weight: 400;
}

.section-title {
  height: 110px;
  padding-bottom: 30px;
}

.section-title-lside {
  width: 110px;
  padding-right: 30px;
}

.section-title-rside {
  width: 110px;
  padding-left: 30px;
}

p {
  font-weight: bold;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.container {
  width: 80%;
  background-color: #014c86;
  color: white;
}

/*スライド用*/
.toLeft {
  opacity: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.toRight {
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.toTop {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: all 1.7s;
  transition: all 1.7s;
}

.container.fadein {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.toTop.fadein {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/*モーダルウィンドウ*/
.work .modal .work-img img {
  width: 100px;
}

header {
  width: 100%;
  background-color: whitesmoke;
  opacity: 0.7;
  position: fixed;
  top: 0;
  z-index: 10;
  margin: 0 auto;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header a {
  color: black;
  padding: 0 10px 5px 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

header .header a:hover {
  border-bottom: 1px solid #bbbcc4;
}

header .header .header-left {
  padding: 20px 5px;
  text-align: left;
}

header .header .header-center {
  text-align: center;
  padding: 20px 10px;
}

header .header .header-right {
  padding: 20px 10px;
  text-align: right;
}

header .tablet-menu {
  text-align: left;
}

header .tablet-menu .tablet-center {
  float: left;
  padding: 15px 0 10px 30px;
}

header .tablet-menu .header-contact {
  float: right;
  padding: 20px 20px;
}

header .tablet-menu .header-contact a {
  width: 100%;
  color: black;
}

.top {
  text-align: center;
  margin: 0 auto;
}

.top .top-catch {
  -webkit-box-shadow: 20px 10px 25px #bbbcc4;
          box-shadow: 20px 10px 25px #bbbcc4;
  width: 80%;
  margin: 80px auto;
  border-radius: 20px;
  font-family: serif;
}

.top .top-catch p {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  line-height: 35px;
}

.top .top-catch .contact-bottan {
  display: inline-block;
  margin: 30px 0;
  padding: 10px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px #bbbcc4;
          box-shadow: 5px 5px 10px #bbbcc4;
}

.top .top-catch .contact-bottan a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.top .top-catch .contact-bottan:hover {
  background-color: #bbbcc4;
  -webkit-transition: 1s;
  transition: 1s;
}

.top .top-catch .contact-bottan:active {
  -webkit-box-shadow: 1px 1px 2px #bbbcc4;
          box-shadow: 1px 1px 2px #bbbcc4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.profile .title-img {
  width: 15%;
  text-align: right;
}

.profile .container {
  color: white;
  width: 100%;
}

.profile .container .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .container .contents .profile-img {
  padding: 20px 0;
  margin-left: 6vw;
}

.profile .container .contents .profile-img .profile-image {
  width: 450px;
  padding: 20px;
  border: 1px solid #bbbcc4;
}

.profile .container .contents .profile-img .sp-profile-image {
  width: 300px;
  padding: 10px;
  border: 1px solid #bbbcc4;
}

.profile .container .contents .profile-text {
  margin: 3vw 0 0 4vw;
}

.profile .container .contents .profile-text .profile-contents .name {
  padding-bottom: 25px;
}

.profile .container .contents .profile-text .profile-contents .skills {
  padding-top: 60px;
  font-weight: 600;
  letter-spacing: 1px;
}

.profile .container .contents .profile-text .profile-contents .skills-icon {
  padding: 10px 0;
}

.profile .container .contents .profile-text .profile-contents .skills-icon i {
  padding-right: 10px;
}

.services .services-contents {
  width: 85%;
}

.services .services-contents .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .services-contents .contents .service {
  padding: 30px;
  margin: 30px;
  border: 2px solid #bbbcc4;
}

.services .services-contents .contents .service i {
  padding-bottom: 30px;
}

.services .services-contents .contents .service .ltxt {
  padding-bottom: 15px;
}

.services .services-contents .contents .service .mtxt {
  padding: 10px 0;
}

.services .services-img {
  width: 15%;
}

.works {
  margin-bottom: 30px;
}

.works .works-contents {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #014c86;
}

.works .works-contents .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works .works-contents .contents .work {
  margin: 30px;
  padding: 30px;
  background-color: #F1F0E2;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
}

.works .works-contents .contents .work a {
  width: 100%;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 1s;
  transition: 1s;
}

.works .works-contents .contents .work a:hover {
  opacity: 0.5;
}

.works .works-contents .contents .work p {
  padding-bottom: 10px;
  color: black;
}

.works .works-contents .contents .work img {
  padding: 10px;
  border: 1px solid #bbbcc4;
  width: auto;
}

.works .works-contents .seeMore {
  color: white;
  display: inline-block;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #bbbcc4;
}

.works .works-contents .seeMore a {
  text-decoration: none;
  color: white;
}

.works .works-contents .seeMore:hover {
  background-color: #bbbcc4;
  -webkit-transition: 1.6s;
  transition: 1.6s;
}

.works .works-title {
  text-align: center;
}

.modal {
  display: none;
  height: 100vh;
  position: relative;
  top: 0;
  width: 100%;
}

.modal .modal-bg {
  background: rgba(100, 100, 100, 0.7);
  height: 100%;
  position: absolute;
  width: 100%;
}

.modal .modal-bg .modal-contents {
  background: #bbbcc4;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

.modal .modal-bg .modal-contents .work-img img {
  width: 150px;
}

.contact .contact-img {
  text-align: center;
}

.contact .contact-contents {
  margin: 0 auto;
  background-color: #014c86;
  width: 80%;
  color: white;
  padding: 40px 0;
}

.contact .contact-contents .content {
  width: 80%;
  margin: 0 auto;
}

.contact .contact-contents .content .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-contents .content .contact-form .form {
  border: 2px solid #bbbcc4;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 30px;
}

.contact .contact-contents .content .contact-form .form i {
  padding: 20px;
  color: white;
}

.contact .contact-contents .content .contact-form .form:hover {
  background-color: #bbbcc4;
  -webkit-transition: 1.6s;
  transition: 1.6s;
}

.contact .contact-contents .content .contact-form .tab-form {
  padding: 10px 20px;
  margin: 40px 20px 20px 20px;
  border: 2px solid #bbbcc4;
  border-radius: 10px;
}

.contact .contact-contents .content .contact-form .tab-form i {
  padding: 15px;
  color: white;
}

.contact .contact-contents .content .contact-form .tab-form:hover {
  background-color: #bbbcc4;
  -webkit-transition: 1.6s;
  transition: 1.6s;
}

.contact .contact-contents .content .contact-form .sp-form {
  padding: 10px 20px;
  margin: 20px 10px 10px 10px;
  border: 2px solid #bbbcc4;
  border-radius: 10px;
}

.contact .contact-contents .content .contact-form .sp-form i {
  padding: 10px;
  color: white;
}

.contact .contact-contents .content .contact-form .sp-form:hover {
  background-color: #bbbcc4;
  -webkit-transition: 1.0s;
  transition: 1.0s;
}

.contact .contact-contents .content .mail {
  padding-top: 10px;
  text-align: center;
}

footer {
  background-color: #014c86;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

footer .foot-contents {
  margin: 0 auto;
  width: 90%;
  padding: 40px 0 25px 0;
  border-top: 1px solid #bbbcc4;
  color: #F1F0E2;
}
/*# sourceMappingURL=portfolio.css.map */