*{
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans JP", 游ゴシック, "Yu Gothic", 游ゴシック;
    letter-spacing: 2px;
    line-height: 1.5;
    width: 100%;
}
/*色の変数*/
$blue:#014c86;
$white:#F1F0E2;
$grey:#bbbcc4;
$shadow:#303133;
/*文字のサイズ、太さ*/
.ltxt{
    font-size: 28px;
    font-weight: 600;
}
.mtxt{
    font-size: 18px;
    font-weight: 500;
}
.stxt{
    font-size: 16px;
    font-weight: 400;
}
/*メイン*/
.page-title-wrapper{
    .page-title{
        text-align: center;
        margin: 30px auto;
        img{
            border-bottom: 1px solid $grey;
            border-top: 1px solid $grey;
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }
}
.container{
    background-color: $blue;
    padding-bottom: 50px;
    .work-contents{
        margin: 0 auto;
        width: 80%;
        .work-content{
            color: white;
            .work-title{
                text-align: center;
                margin-top: 10px;
                padding: 10px 0;
                margin: 10px auto;
            }
            .work-detail{
                display: flex;
                flex-wrap: wrap;
                width: 80%;
                margin: 0 auto;
                padding-bottom: 50px;
                border: 1px solid $grey;
                margin-bottom: 50px;
                border-radius: 10px;
                p{
                    width: 100%;
                    padding: 10px;
                    .text{
                        font-weight: bolder;
                    }
                }
                .skill{
                    padding-left: 20px;
                }
            }
            .work-images{
                display: flex;
                .work-image{
                    width: 30%;
                    background-color: $white;
                    background-size: cover;
                    border-radius: 5px;
                    margin-left: 20px;
                    height: 100%;
                    color: $grey;
                    text-align: center;
                    p{
                        padding-top: 20px;
                        font-weight: bolder;
                    }
                    img{
                        width: 100%;
                        vertical-align: top;
                        padding: 10px;
                    }
                }
            }
        }
    }
}
.return-page{
    background-color: $blue;
    display: flex;
    justify-content: center;
    .return-btn{
        display: inline-block;
        padding: 15px;
        margin-bottom: 20px;
        margin-right: 20px;
        border-radius: 5px;
        border: 0.5px solid $grey;
        text-align: center;
        a{
            color: white;
        }
        &:hover{
            background-color: $grey;
            transition: 1.6s;
        }
    }
}
footer{
    background-color: $blue;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    .foot-contents{
      margin: 0 auto;
      width: 90%;
      padding: 40px 0 25px 0;
      border-top: 1px solid $grey;
      color: $white;
    }
}
@media all and (max-width: 980px){
    .ltxt{
        font-size: 24px;
        font-weight: 500;
    }
    .mtxt{
        font-size: 16px;
        font-weight: 400;
    }
    .stxt{
        font-size: 14px;
        font-weight: 400;
    }
    .page-title-wrapper{
        .page-title{
            margin: 20px auto;
            .section-title{
                width: 420px;
                height: auto;
            }
        }
    }
}
@media all and (max-width: 560px){
    .ltxt{
        font-size: 22px;
        font-weight: 500;
    }
    .mtxt{
        font-size: 14px;
        font-weight: 400;
    }
    .stxt{
        font-size: 12px;
        font-weight: 400;
    }
    .page-title-wrapper{
        .page-title{
            margin: 15px auto;
            .section-title{
                width: 300px;
                height: auto;
            }
        }
    }
    .container{
        .work-contents{
            width: 80%;
            .work-detail{
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    
    .return-page{
        flex-direction: column;
        .return-btn{
            width: 90%;
            margin: 10px auto;
            padding: 10px;
        }
    }
}