@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", 游ゴシック, "Yu Gothic", 游ゴシック;
  letter-spacing: 2px;
  line-height: 1.5;
  width: 100%;
}

/*色の変数*/
/*文字のサイズ、太さ*/
.ltxt {
  font-size: 28px;
  font-weight: 600;
}

.mtxt {
  font-size: 18px;
  font-weight: 500;
}

.stxt {
  font-size: 16px;
  font-weight: 400;
}

/*メイン*/
.page-title-wrapper .page-title {
  text-align: center;
  margin: 30px auto;
}

.page-title-wrapper .page-title img {
  border-bottom: 1px solid #bbbcc4;
  border-top: 1px solid #bbbcc4;
  padding-bottom: 20px;
  padding-top: 20px;
}

.container {
  background-color: #014c86;
  padding-bottom: 50px;
}

.container .work-contents {
  margin: 0 auto;
  width: 80%;
}

.container .work-contents .work-content {
  color: white;
}

.container .work-contents .work-content .work-title {
  text-align: center;
  margin-top: 10px;
  padding: 10px 0;
  margin: 10px auto;
}

.container .work-contents .work-content .work-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
  border: 1px solid #bbbcc4;
  margin-bottom: 50px;
  border-radius: 10px;
}

.container .work-contents .work-content .work-detail p {
  width: 100%;
  padding: 10px;
}

.container .work-contents .work-content .work-detail p .text {
  font-weight: bolder;
}

.container .work-contents .work-content .work-detail .skill {
  padding-left: 20px;
}

.container .work-contents .work-content .work-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .work-contents .work-content .work-images .work-image {
  width: 30%;
  background-color: #F1F0E2;
  background-size: cover;
  border-radius: 5px;
  margin: 0 auto;
  height: 100%;
  color: #bbbcc4;
  text-align: center;
}

.container .work-contents .work-content .work-images .work-image p {
  padding-top: 20px;
  font-weight: bolder;
}

.container .work-contents .work-content .work-images .work-image img {
  width: 100%;
  vertical-align: top;
  padding: 10px;
}

.return-page {
  background-color: #014c86;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.return-page .return-btn {
  display: inline-block;
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 5px;
  border: 0.5px solid #bbbcc4;
  text-align: center;
}

.return-page .return-btn a {
  color: white;
}

.return-page .return-btn:hover {
  background-color: #bbbcc4;
  -webkit-transition: 1.6s;
  transition: 1.6s;
}

footer {
  background-color: #014c86;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

footer .foot-contents {
  margin: 0 auto;
  width: 90%;
  padding: 40px 0 25px 0;
  border-top: 1px solid #bbbcc4;
  color: #F1F0E2;
}

@media all and (max-width: 980px) {
  .ltxt {
    font-size: 24px;
    font-weight: 500;
  }
  .mtxt {
    font-size: 16px;
    font-weight: 400;
  }
  .stxt {
    font-size: 14px;
    font-weight: 400;
  }
  .page-title-wrapper .page-title {
    margin: 20px auto;
  }
  .page-title-wrapper .page-title .section-title {
    width: 420px;
    height: auto;
  }
}

@media all and (max-width: 560px) {
  .ltxt {
    font-size: 22px;
    font-weight: 500;
  }
  .mtxt {
    font-size: 14px;
    font-weight: 400;
  }
  .stxt {
    font-size: 12px;
    font-weight: 400;
  }
  .page-title-wrapper .page-title {
    margin: 15px auto;
  }
  .page-title-wrapper .page-title .section-title {
    width: 300px;
    height: auto;
  }
  .container .work-contents {
    width: 80%;
  }
  .container .work-contents .work-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .return-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .return-page .return-btn {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
  }
}
/*# sourceMappingURL=isara-mosha-work.css.map */